<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offerte Home</title>
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="offerteHome.css" />
  </head>
  <body>
    <div class="offerte-container">
      <div class="reso">
        <img class="simbolo" src="/components/OfferteHome/img/Pacchetto.png" />
        <div class="contenuto">
          <h3 class="titolo">
            Non preoccuparti, il periodo di reso è esteso fino al 31.01.2026.
          </h3>
          <p class="descrizione">Shopping natalizio senza stress!</p>
        </div>
      </div>
      <div class="spedizione">
        <img class="simbolo" src="/components/OfferteHome/img/Club.png" />
        <div class="contenuto">
          <h3 class="titolo">Spedizione Gratis</h3>
          <p class="descrizione">Solo per i Membri Backstage Club.</p>
          <a class="link" href="#">Iscriviti ora</a>
        </div>
      </div>
      <div class="sconto">
        <img class="simbolo" src="/components/OfferteHome/img/Messaggio.png" />
        <div class="contenuto">
          <h3 class="titolo">
            15% di sconto? Basta iscriverti alla Newsletter!
          </h3>
          <p class="descrizione">Novità. Offerte. Esclusive.</p>
          <a class="link" href="#">Iscriviti subito</a>
        </div>
      </div>
      <div class="app">
        <img class="simbolo" src="/components/OfferteHome/img/Simbolo.png" />

        <div class="contenuto">
          <h3 class="titolo">Scarica ora l'App EMP!</h3>
          <p class="descrizione">Porta il nostro catalogo sempre</p>
          <a class="link" href="#">Scarica qui!</a>
        </div>
      </div>
    </div>
  </body>
</html>
