<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="Footer_Info_Legali.css" />
    <title>Footer Info Legali</title>
  </head>
  <body>
    <div class="all-component-info-legal">
      <div class="title-info-legal">
        <p class="title-info">Info legali</p>
      </div>
      <div class="first-section-info-legal">
        <ul class="list-info-legal">
          <li><a href="#">Termini & Condizioni</a></li>
          <li><a href="#">Redazione</a></li>
          <li><a href="#">Legge sulla Privacy</a></li>
          <li>
            <a href="#">Smaltimento rifiuti e protezione dell'ambiente</a>
          </li>
          <li><a href="#">Dichiarazione di Conformità</a></li>
          <li><a href="#">Impostazioni cookie</a></li>
        </ul>
      </div>
      <div class="second-section-info-legal">
        <p class="section-gray-info-legal">
          I prezzi sono IVA compresa. Spese di <u>trasporto escluse</u>
        </p>
        <span class="ultimate-section-gray-info-legal"
          >© 1986-2025 EMP Mailorder Italia S.r.l.
        </span>
      </div>
    </div>
  </body>
</html>
