<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="Catalogo_Home_5_Elementi.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap"
      rel="stylesheet"
    />

    <title>Catalogo 5 elementi</title>
  </head>
  <body>
    <div class="all-component-elements">
      <div class="div-title-catalog-5-element">
        <p class="title-catalog-5-element">Scopri tutto il merch su EMP!</p>
      </div>
      <div class="catalog-griglia">
        <ul class="list-catalog">
          <li>
            <img
              class="owl-lazy"
              data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwd8579393/images/5/8/1/1/581190a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              alt="Black Premium by EMP, Black Premium by EMP, Giacca invernale"
              onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dw9c78cab5/images/noimage.jpg'"
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwd8579393/images/5/8/1/1/581190a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              style="opacity: 1"
            /><span>129,99 €</span>
          </li>
          <li>
            <img
              class="owl-lazy"
              data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwb7e6d1ed/images/5/8/6/2/586262a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              alt="ARIBAY6, Khujo, Giacca invernale"
              onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dw9c78cab5/images/noimage.jpg'"
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwb7e6d1ed/images/5/8/6/2/586262a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              style="opacity: 1"
            /><span>167,99 €</span>
          </li>
          <li>
            <img
              class="owl-lazy"
              data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwdf756057/images/5/8/6/2/586243a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              alt="DIER, Khujo, Giacca invernale"
              onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dw9c78cab5/images/noimage.jpg'"
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwdf756057/images/5/8/6/2/586243a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              style="opacity: 1"
            /><span>183,99 €</span>
          </li>
          <li>
            <img
              class="owl-lazy"
              data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwdc2f42ba/images/5/9/2/3/592324a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              alt="Hellraiser - Ozzy &amp; Lemmy, Ozzy Osbourne, T-Shirt"
              onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dw9c78cab5/images/noimage.jpg'"
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwdc2f42ba/images/5/9/2/3/592324a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              style="opacity: 1"
            />
            <span class="percent-sale">-20%</span
            ><span
              >Da <s>19,99 €</s> Da <span class="text-sale">15,99 €</span></span
            >
          </li>
          <li>
            <img
              class="owl-lazy"
              data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw5e326111/images/5/9/0/6/590633a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              alt="Legends, Sabaton, Felpa con cappuccio"
              onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dw9c78cab5/images/noimage.jpg'"
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw5e326111/images/5/9/0/6/590633a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png"
              style="opacity: 1"
            />
            <span>Da 64,99€</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
