<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="paginaAttuale.css" />
  </head>
  <body>
    <div class="paginaAttuale">
      <span class="numeroPagina"> Pagina 1 di 5 </span>
      <div class="buttonsContainer">
        <a
          class="bottone1"
          href="https://www.emp-online.it/novita/abbigliamento/"
        >
          1
        </a>
        <a
          class="bottone2"
          href="https://www.emp-online.it/novita/abbigliamento/?start=60&sz=60"
        >
          2
        </a>
        <a
          class="bottone3"
          href="https://www.emp-online.it/novita/abbigliamento/?start=120&sz=60"
        >
          3
        </a>
        <span class="puntiniDiSospensione"> ... </span>
        <a
          class="bottone5"
          href="https://www.emp-online.it/novita/abbigliamento/?start=240&sz=60"
        >
          5
        </a>
        <a
          class="prossimaPagina"
          href="https://www.emp-online.it/novita/abbigliamento/?start=180&sz=60"
        >
          <span class="spanProssimaPagina"> Prossima Pagina > </span>
          <span class="spanMediaQuery"> > </span>

          <!--<img class="arrow-right" src="arrow-right.png" />  -->
        </a>
      </div>
    </div>
  </body>
</html>
