<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="categorie2pagina.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body>
    <div class="categorie-link">
      <a href="https://www.emp-online.it/">
        <img
          class="icona-casa"
          src="home.png"
          href="https://www.emp-online.it/"
        />
      </a>
      <img class="barraRossa" src="barraRossa.png" />
      <a class="novita" href="http://schema.org/ListItem"> Novità </a>
      <img class="barraRossa" src="barraRossa.png" />

      <a class="abbigliamento">Abbigliamento (456) </a>
    </div>
    <div class="categorie-bottoni">
      <a
        class="vestiti"
        href="https://www.emp-online.it/novita/abbigliamento/vestiti/?hidebanner=true"
        >Vestiti (17)</a
      >
      <a
        class="TshirtTop"
        href="https://www.emp-online.it/novita/abbigliamento/t-shirt-top/?hidebanner=true"
        >T-shirt & Top (159)</a
      >
      <a
        class="camicie"
        href=" https://www.emp-online.it/novita/abbigliamento/camicie/?hidebanner=true"
        >Camicie (4)</a
      >
      <a
        class="camicieDaDonna"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/camicie-da-donna/?hidebanner=true"
        >Camicie Donna (2)</a
      >
      <a
        class="felpe"
        href="https://www.emp-online.it/novita/abbigliamento/maglioni-felpe/?hidebanner=true"
        >Felpe (156)</a
      >
      <a
        class="giacche"
        href="https://www.emp-online.it/novita/abbigliamento/giacche/?hidebanner=true"
      >
        Giacche (37)
      </a>
      <a
        class="cappotti"
        href="https://www.emp-online.it/novita/abbigliamento/cappotti/?hidebanner=true"
        >Cappotti (11)</a
      >
      <a
        class="maglie"
        href="https://www.emp-online.it/novita/abbigliamento/t-shirt-top/maglie-maniche-lunghe/?hidebanner=true"
        >Maglie a maniche lunghe (21)</a
      >
      <a
        class="pantaloni"
        href=" https://www.emp-online.it/novit%C3%A0/abbigliamento/pantaloni-%26-pantaloncini/?hidebanner=true"
        >Pantaloni & Pantaloncini (31)</a
      >
      <a
        class="corsetti"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/corsetti/?hidebanner=true"
      >
        Corsetti (2)</a
      >
      <a
        class="gonne"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/gonne/?hidebanner=true"
      >
        Gonne (6)</a
      >
      <a
        class="intimo"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/intimo/?hidebanner=true"
      >
        Intimo (9)</a
      >
      <a
        class="calzeEcalzini"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/calze-%26-calzini/?hidebanner=true"
      >
        Calze & calzini (6)</a
      >
      <a
        class="abbigliamentoNotte"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/abbigliamento-notte/?hidebanner=true"
      >
        Abbigliamento notte (5)
      </a>
      <a
        class="abbigliamentoNeonati"
        href="https://www.emp-online.it/novit%C3%A0/abbigliamento/abbigliamento-per-bambini-%26-neonati/?hidebanner=true"
      >
        Abbigliamento per bambini & neonati (18)</a
      >
    </div>
  </body>
</html>
