<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cardPromo.css" />
    <title>Card Promozionali</title>
  </head>
  <body>
    <div class="card-promo-container">
      <div class="cards-grid">
        <!-- Card 1: Stagione delle feste -->
        <div class="card">
          <div class="card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwde445ae0/SAM-6069_MT1000_XMAS25.jpg?sw=335"
              alt="stagione delle feste ad alto volume"
            />
          </div>
          <div class="card-content">
            <h3 class="card-title">Stagione delle Feste, ad alto volume</h3>

            <a href="#" class="card-button">Scopri ora!</a>
          </div>
        </div>

        <!-- Card 2:Nuovi arrivi -->
        <div class="card">
          <div class="card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw25156803/SAM-5652_MT1000_Neuheiten_Teaser_2025.jpg?sw=335"
              alt="Nuovi arrivi"
            />
          </div>
          <div class="card-content">
            <h3 class="card-title">Nuovi arrivi</h3>

            <a href="#" class="card-button">Scopri ora!</a>
          </div>
        </div>

        <!-- Card 3: Stranger Things-->
        <div class="card">
          <div class="card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwbaaaccb0/SAM-5867_MT1000_Stranger_Things_Season_5_V2.jpg?sw=335"
              alt="Stranger things"
            />
          </div>
          <div class="card-content">
            <h3 class="card-title">Stranger Things</h3>
            <p class="card-subtitle">
              Un'ultima avventura a Hawkins. Sarà leggendaria.
            </p>
            <a href="#" class="card-button">Scopri ora!</a>
          </div>
        </div>

        <!-- Card 4: Disney -->
        <div class="card">
          <div class="card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwade921e0/MT1000_SAM-7576_Disney_Sale.jpg?sw=335"
              alt="la magia delle offerte Disney"
            />
          </div>
          <div class="card-content">
            <h3 class="card-title">La magia delle offerte Disney</h3>

            <a href="#" class="card-button">Scopri ora!</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
