.container {
  padding: 0 20px;
}

.top-bar {
  background-color: #000;
  color: white;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.search-box {
  background: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  padding: 5px;
  width: 200px;
}

.search-box button {
  background: transparent;
  border: none;
}

.logo {
  max-width: 200px;
  min-height: 50px;
}

.icon-navbar {
  width: 115px;
  height: 40px;
}

.user-actions span {
  margin-left: 15px;
  font-size: 14px;
}

.club > img {
  margin-top: 300px;
}

.look {
  background-color: black;
  width: 30px;
}

.login {
  text-decoration-line: none;
  color: white;
}

.heart {
  text-decoration-line: none;
}

.carrello {
  text-decoration-line: none;
  color: white;
}

.dropdown-container {
  position: relative;
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.main-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.main-menu a:hover {
  color: #000;
}

.dropdown-menu {
  background-color: #fff;
  position: absolute;
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid #ddd;
  box-shadow: #000;
}
.menu-section > h3 {
  text-align: left;
  padding-left: 40px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.abbigliamento,
.accessori,
.living,
.highlights {
  width: 379px;

  a {
    text-decoration: none;
  }
}

.highlights img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 80px;
}
