<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Navbar</title>
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <header class="header">
      <div class="top-bar">
        <div class="container top-content">
          <div class="search-box">
            <input type="text" placeholder="Cosa stai cercando?" />
            <button>🔍</button>
          </div>

          <div class="logo">
            <a href="https://www.emp-online.it/">
              <img
                class="icon"
                style="background-color: black"
                src="./img/logo.svg"
              />
            </a>
          </div>

          <div class="user-actions">
            <span><a href="#"> <img class="club" src="./img/Club.png" /> </a></span>
            <span
              ><a href="#"
                ><img class="look" 
                src=https://www.emp-online.it/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwaaab7858/100109_Logo_60x60_Desk_GtLook_white.png
                />
              </a></span
            >
            <span> <a class="login" href="#"> 👤 Login </a> </span>
            <span> <a class="heart" href="#"> ❤️ </a> </span>
            <span> <a class="carrello" href="#"> 🛒 0,00 € </a></span>
          </div>
        </div>
      </div>

      <nav class="main-menu">
        <div class="container">
          <ul class="nav-links">
            <li class="dropdown"><a href="#">Novità</a></li>
            <li><a href="#">Band Merch</a></li>
            <li><a href="#">Intrattenimento</a></li>
            <li><a href="#">Marchi</a></li>
            <li><a href="#">Stile di vita</a></li>
            <li><a href="#">Donna</a></li>
            <li><a href="#">Uomo</a></li>
            <li><a href="#">Bambini</a></li>
            <li><a href="#" class="offers">Offerte %</a></li>
          </ul>
        </div>
      </nav>

      <div class="dropdown-container"> 
        <!-- Novità -->

         <div class="dropdown-menu">
          <div class="menu-section">
            <h3>Abbigliamento</h3>
            <ul class="abbigliamento">
              <li><a href="#"> T-Shirt & top </a></li>
              <li><a href="#"> Longsleeves</a></li>
              <li><a href="#"> Maglioni </a></li>
              <li><a href="#"> Giacche </a></li>
              <li><a href="#"> Scarpe </a></li>
              <li><a href="#"> Pantaloni </a></li>
              <li><a href="#"> Felpe con cappuccio </a></li>
              <li><a href="#"> Sportswear </a></li>
            </ul>
          </div>

          <div class="menu-section">
            <h3>Accessori</h3>
            <ul class="accessori">
              <li><a href="#"> Sciarpe & Bendane </a></li>
              <li><a href="#"> Borse </a></li>
              <li><a href="#"> Cinture & Fibbie </a></li>
              <li><a href="#"> Portachiavi </a></li>
            </ul>
          </div>

          <div class="menu-section">
            <h3>Living & Tempo libero</h3>
            <ul class="living">
              <li><a href="#"> Statuette </a></li>
              <li><a href="#"> Articoli decorativi </a></li>
              <li><a href="#"> Accessori da cucina </a></li>
              <li><a href="#"> Tazze </a></li>
            </ul>
          </div>

          <div class="menu-section">
            <h3>Highlights</h3>
            <ul class="highlights">
              <li><a href="#"> Funko Pop!</a></li>
              <li>
                <a href="#"> Stranger Things x Wrangler</a>
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dw2d1ff525/FW25_WRANGLER_X_STRANGER_THINGS_EMP_CAT_BANNER_1400x400.jpg"
                />
              </li>
              <li>
                <a href="#"> Metalized </a>
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dw19a5cdf9/SAM-7284_CAT_New_in_Metal_Design_final.jpg"
                />
              </li>
            </ul>
          </div>
        </div> 

        <!--Band Merch -->
        <!-- 
    
        <div class="dropdown-menu">
          <div class="menu-section-band">
            <h3>Band Principali</h3>
            <ul>
              <li><a href="#">Iron Maiden </a></li>
              <li><a href="#">Metallica </a></li>
              <li><a href="#">Rammstein </a></li>
              <li><a href="#">AC/DC </a></li>
              <li><a href="#">Slipknot </a></li>
              <li><a href="#">Motorhead </a></li>
              <li><a href="#">Nirvana </a></li>
              <li><a href="#">Guns N' Roses </a></li>
              <li><a href="#">The Rolling Stones </a></li>
              <li><a href="#">Bohse Onkelz </a></li>
              <li><a href="#">Korn</a></li>
            </ul>
            <ul>
              <li><a href="#"> Electric Callboy </a></li>
              <li><a href="#"> Bring me the Horizon </a></li>
              <li><a href="#"> Linkin Park </a></li>
              <li><a href="#">Parkway Drive </a></li>
              <li><a href="#">Powerwolf </a></li>
              <li><a href="#">Sleep Token </a></li>
              <li><a href="#">Architects </a></li>
              <li><a href="#">Ghost </a></li>
              <li><a href="#">Arch Enemy </a></li>
              <li><a href="#">Amon Amarth </a></li>
              <li><a href="#">Volbeat</a></li>
            </ul>
            <a href="#"> Mostra Altri Prodotti </a>
          </div>

          <div class="menu-section-abbigliamento2">
            <h3>Abbigliamento</h3>
            <ul>
              <li><a href="#">T-Shirt </a></li>
              <li><a href="#">Felpe </a></li>
              <li><a href="#">Giacche </a></li>
              <li><a href="#">Felpa con cerniera e cappuccio </a></li>
            </ul>
          </div>

          <div class="menu-section-accessori2">
            <h3>Accessori</h3>
            <ul>
              <li><a href="#">Cappelli </a></li>
              <li><a href="#">Toppe </a></li>
              <li><a href="#">Borse </a></li>
              <li><a href="#">Poster & Bandiere </a></li>
            </ul>
          </div>

          <div class="menu-section-album">
            <h3>Album</h3>
            <ul>
              <li><a href="#"> Vinili</a></li>
              <li><a href="#"> CD </a></li>
              <li><a href="#"> Genere </a></li>
            </ul>
          </div>

          <div class="menu-section-preferiti">
            <h3>I Nostri Preferiti</h3>
            <ul>
              <li><a href="#"> Nuovi arrivi da EMP</a></li>
              <li><a href="#"> Signature Collection </a></li>
              <li><a href="#"> Amplified Collection </a></li>
              <li>
                <a href="#"> Motohead </a>
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dwc3058f82/SAM-4514_CAT_Mot%C3%B6rhead_50_Years.jpg"
                />
              </li>
            </ul>
          </div>
        </div> -->

        <!--Intrattenimento -->
        <!--
        <div class="dropdown-menu">
          <div class="menu-section-film">
            <h3>Film & Serie</h3>
            <ul>
              <li><a href="#">Star Trek </a></li>
              <li><a href="#">Harry Potter </a></li>
              <li><a href="#">Star Wars </a></li>
              <li><a href="#">Il Signore degli anelli </a></li>
              <li><a href="#">Batman </a></li>
              <li><a href="#">Dune </a></li>
              <li><a href="#">Games of Thrones </a></li>
              <li><a href="#">Nightmare Before Christmas </a></li>
            </ul>
            <a href="#">Mostra tutti i prodotti </a>
          </div>

          <div class="menu-section-disney">
            <h3>Disney</h3>
            <ul>
              <li><a href="#">Classici Disney </a></li>
              <li><a href="#">Principesse Disney </a></li>
              <li><a href="#">Topolino & Friends </a></li>
              <li><a href="#">Lilo & Stich </a></li>
              <li><a href="#">Marvel </a></li>
              <li><a href="#">Il Re Leone </a></li>
              <li><a href="#">La Sirenetta </a></li>
            </ul>
            <a href="#">Mostra tutti </a>
          </div>

          <div class="menu-section-anime">
            <h3>Anime</h3>
            <ul>
              <li><a href="#">Solo Leveling </a></li>
              <li><a href="#">Dan Da Dan </a></li>
              <li><a href="#">One Piece </a></li>
              <li><a href="#">Jujustu Kaisen </a></li>
              <li><a href="#">Demon Slayer </a></li>
              <li><a href="#">Naruto </a></li>
              <li><a href="#">Attack on Titan </a></li>
              <li><a href="#">Dragon Ball </a></li>
              <li><a href="#">Sailor Moon </a></li>
              <li><a href="#">My Hero Academia </a></li>
            </ul>
            <a href="#">Tutti gli anime </a>
          </div>

          <div class="menu-section-gaming">
            <h3>Gaming</h3>
            <ul>
              <li><a href="#">Pokemon </a></li>
              <li><a href="#">Supermario </a></li>
              <li><a href="#">Zelda </a></li>
              <li><a href="#">League of Legends </a></li>
              <li><a href="#">The Witcher </a></li>
              <li><a href="#">Diablo </a></li>
              <li><a href="#">Minecraft </a></li>
              <li><a href="#">Assassin's Creed </a></li>
              <li><a href="#">Elden Ring </a></li>
            </ul>
            <a href="#">Tutti i giochi </a>
          </div>

          <div class="menu-section-preferiti">
            <h3>I Nostri Preferiti</h3>
            <ul>
              <li><a href="#">Oggetti da Collezione </a></li>
              <li><a href="#">Funko Pop </a></li>
              <li>
                <a href="#">Stranger Things </a>
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dwa5d2c61f/SAM-5867_CAT_Stranger_Things_Season_5_V2.jpg"
                />
              </li>
              <li>
                <a href="#">The Wicked 2</a>
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dw8e91e871/SAM-2779_CAT_WICKED_Release.jpg"
                />
              </li>
            </ul>
          </div>
        </div> -->

        <!-- Marchi -->
        <!--

        <div class="dropdown-menu">
          <div class="menu-section-brands">
            <img
              src="https://www.emp-online.it/on/demandware.static/-/Sites-storefront-emp/default/dwc7c13177/SAM-6119_CAT_Herbst_Winter2025_Brands_by_EMP.jpg"
            />
            <h3>Brands by EMP</h3>
            <ul>
              <li><a href="#">Black Premium by EMP </a></li>
              <li><a href="#">Full Volume by EMP </a></li>
              <li><a href="#">Gothica by EMP </a></li>
              <li><a href="#">RED by EMP </a></li>
              <li><a href="#">Rock Rebel by EMP </a></li>
            </ul>
          </div>

          <div class="menu-section-abbigliamento3">
            <h3>Abbigliamento</h3>
            <ul>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Cappotti </a></li>
              <li><a href="#">Giacche </a></li>
              <li><a href="#">Maglioni & felpe </a></li>
              <li><a href="#">Gioielli </a></li>
              <li><a href="#">Scarpe </a></li>
              <li><a href="#">T-Shirt & top </a></li>
              <li><a href="#">Accessori </a></li>
            </ul>
          </div>

          <div class="menu-section-altri-marchi">
            <h3>Altri Marchi</h3>
            <ul>
              <li><a href="#">Killstar </a></li>
              <li><a href="#">Urban Classics </a></li>
              <li><a href="#">Brandit </a></li>
              <li><a href="#">Vans </a></li>
              <li><a href="#">Gipsy </a></li>
              <li><a href="#">Banned Alternative </a></li>
              <li><a href="#">Hell Bunny </a></li>
              <li><a href="#">Spiral </a></li>
            </ul>
            <a href="#">Tutti i brand </a>
          </div>

          <div class="menu-section-stile">
            <h3>Stile</h3>
            <ul>
              <li><a href="#">Rockabilly </a></li>
              <li><a href="#">Festival </a></li>
              <li><a href="#">Gothic </a></li>
              <li><a href="#">Rockwear </a></li>
              <li><a href="#">Streetwear </a></li>
            </ul>
          </div>
        </div>
        -->

        <!-- Stile di vita -->
        <!--
        <div class="dropdown-menu">
          <div class="menu-section-casa">
            <h3>Articoli per la casa</h3>
            <ul>
              <li><a href="#">Accessori bagno </a></li>
              <li><a href="#">Ufficio & cartoleria </a></li>
              <li><a href="#">Corridoio </a></li>
              <li><a href="#">Articoli per la cucina </a></li>
              <li><a href="#">Accessori camera da letto </a></li>
              <li><a href="#">Stanza dei giochi </a></li>
              <li><a href="#">Decorazioni da parete </a></li>
              <li><a href="#">Soggiorno </a></li>
            </ul>
          </div>

          <div class="menu-section-statue">
            <h3>Statuette</h3>
            <ul>
              <li><a href="#">Action Figure </a></li>
              <li><a href="#">Funko POP! </a></li>
              <li><a href="#">Action Figure da collezione </a></li>
              <li><a href="#">Statue </a></li>
            </ul>
          </div>

          <div class="menu-section-cucina">
            <h3>Accessori da cucina</h3>
            <ul>
              <li><a href="#">Accessori </a></li>
              <li><a href="#">Bicchieri </a></li>
              <li><a href="#">Caraffe </a></li>
              <li><a href="#">Tazze </a></li>
            </ul>
          </div>

          <div class="menu-section-stile2">
            <h3>Stile</h3>
            <ul>
              <li><a href="#">Gothic </a></li>
            </ul>
          </div>

          <div class="menu-section-preferiti">
            <h3>I nostri preferiti</h3>
            <ul>
              <li><a href="#">Merch Fun </a></li>
              <li><a href="#">Articoli per la casa A-Z </a></li>
              <li><a href="#">Calze & calzini </a></li>
            </ul>
          </div>
        </div> -->

        <!-- Donna -->
        <!--
        <div class="dropdown-menu">
          <div class="menu-section-abbigliamento4">
            <h3>Abbigliamento</h3>
            <ul>
              <li><a href="#">T-shirt & top </a></li>
              <li><a href="#">Felpe </a></li>
              <li><a href="#">Giacche</a></li>
              <li><a href="#">Giacche invernali </a></li>
              <li><a href="#">Giacche di mezza stagione </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Jeans </a></li>
              <li><a href="#">In esclusiva solo da EMP</a></li>
              <li><a href="#">Calze & calzini</a></li>
            </ul>
          </div>

          <div class="menu-section-accessori2">
            <h3>Accessori</h3>
            <ul>
              <li><a href="#">Cappellini </a></li>
              <li><a href="#">Sciarpe & Bandane </a></li>
              <li><a href="#">Borse </a></li>
              <li><a href="#">Berretti </a></li>
            </ul>
          </div>

          <div class="menu-section-gioielli">
            <h3>Gioielli</h3>
            <ul>
              <li><a href="#">Orecchini </a></li>
              <li><a href="#">Collane </a></li>
              <li><a href="#">Anelli </a></li>
              <li><a href="#">Orologi </a></li>
            </ul>
          </div>

          <div class="menu-section-scarpe">
            <h3>Scarpe</h3>
            <ul>
              <li><a href="#">Stivali </a></li>
              <li><a href="#">Scarpe con il tacco </a></li>
              <li><a href="#">Sneakers </a></li>
            </ul>
          </div>

          <div class="menu-section-extralarge">
            <h3>Extralarge</h3>
            <ul>
              <li><a href="#">Maglie a maniche lunghe </a></li>
              <li><a href="#">Maglioni & Felpe </a></li>
              <li><a href="#">Giacche </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Intimo </a></li>
            </ul>
          </div>

          <div class="menu-section-marchitop">
            <h3>Marchi top</h3>
            <ul>
              <li><a href="#">Urban Classics </a></li>
              <li><a href="#">Hell Bunny </a></li>
              <li><a href="#">Noisy May </a></li>
              <li><a href="#">Spiral </a></li>
              <li><a href="#">Dr. Martens </a></li>
              <li><a href="#">Vans </a></li>
              <li><a href="#">Brandit </a></li>
              <li><a href="#">Killstar </a></li>
            </ul>
            <a href="#">Tutti i brandi </a>
          </div>

          <div class="menu-section-stile3">
            <h3>Stile</h3>
            <ul>
              <li><a href="#">Regali per Donne </a></li>
              <li><a href="#">Articoli divertenti </a></li>
              <li><a href="#">Gothic </a></li>
              <li><a href="#">Steampunk </a></li>
              <li><a href="#">Rockabilly </a></li>
              <li><a href="#">Rockwear </a></li>
              <li><a href="#">Streetwear </a></li>
              <li><a href="#">Emo </a></li>
            </ul>
          </div>
        </div> -->

        <!-- Uomo -->
        <!---
        <div class="dropdown-menu">
          <div class="menu-section-abbigliamento5">
            <h3>Abbigliamento</h3>
            <ul>
              <li><a href="#">T-shirt & top </a></li>
              <li><a href="#">Camicie </a></li>
              <li><a href="#">Felpe </a></li>
              <li><a href="#">Felpe con cappuccio </a></li>
              <li><a href="#">Giacche</a></li>
              <li><a href="#">Giacche invernali </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Jeans </a></li>
              <li><a href="#">Intimo</a></li>
              <li><a href="#">Calze & calzini</a></li>
            </ul>
          </div>

          <div class="menu-section-accessori3">
            <h3>Accessori</h3>
            <ul>
              <li><a href="#">Cappellini </a></li>
              <li><a href="#">Beanies </a></li>
              <li><a href="#">Sciarpe & Bandane </a></li>
              <li><a href="#">Borse </a></li>
            </ul>
          </div>

          <div class="menu-section-gioielli2">
            <h3>Gioielli</h3>
            <ul>
              <li><a href="#">Collane </a></li>
              <li><a href="#">Rings </a></li>
              <li><a href="#">Bracciali</a></li>
              <li><a href="#">Orologi </a></li>
            </ul>
          </div>

          <div class="menu-section-scarpe2">
            <h3>Scarpe</h3>
            <ul>
              <li><a href="#">Stivali </a></li>
              <li><a href="#">Sneakers </a></li>
            </ul>
          </div>

          <div class="menu-section-extralarge2">
            <h3>Extralarge</h3>
            <ul>
              <li><a href="#">T-shirt </a></li>
              <li><a href="#">Maglie a maniche lunghe </a></li>
              <li><a href="#">Maglioni & Felpe </a></li>
              <li><a href="#">Giacche </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Intimo </a></li>
            </ul>
          </div>

          <div class="menu-section-marchitop">
            <h3>Marchi top</h3>
            <ul>
              <li><a href="#">Brandit </a></li>
              <li><a href="#">Urban Classics </a></li>
              <li><a href="#">Spiral </a></li>
              <li><a href="#">Dickies </a></li>
              <li><a href="#">Lonsdale London </a></li>
              <li><a href="#">Vans </a></li>
              <li><a href="#">Gipsy </a></li>
              <li><a href="#">Vintage Industries </a></li>
            </ul>
            <a href="#">Tutti i brandi </a>
          </div>

          <div class="menu-section-stile3">
            <h3>Stile</h3>
            <ul>
              <li><a href="#">Regali per Uomini </a></li>
              <li><a href="#">Articoli divertenti </a></li>
              <li><a href="#">Gothic </a></li>
              <li><a href="#">Rockabilly </a></li>
              <li><a href="#">Biker </a></li>
              <li><a href="#">Streetwear </a></li>
              <li><a href="#">Steampunk </a></li>
              <li><a href="#">Stile Vichingo </a></li>
            </ul>
          </div>
        </div> -->

        <!-- Bambini -->
        <!-- 
        <div class="dropdown-menu">
          <div class="menu-section-baby">
            <h3>Baby (Fino alla taglia 92)</h3>
            <ul>
              <li><a href="#">Tutine & Body </a></li>
              <li><a href="#">T-shirt </a></li>
              <li><a href="#">Felpe con cappuccio </a></li>
              <li><a href="#">Ciucci</a></li>
              <li><a href="#">Bavaglini </a></li>
            </ul>
          </div>

          <div class="menu-section-bimbi">
            <h3>Bimbi (taglie: 98-134)</h3>
            <ul>
              <li><a href="#">T-shirt </a></li>
              <li><a href="#">Maglie a maniche lunghe </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Intimo </a></li>
              <li><a href="#">Scarpe bambini </a></li>
            </ul>
          </div>

          <div class="menu-section-teenager">
            <h3>Teenager (taglie: 140-176)</h3>
            <ul>
              <li><a href="#">T-shirt </a></li>
              <li><a href="#">Maglie a maniche lunghe </a></li>
              <li><a href="#">Maglioni & Felpe </a></li>
              <li><a href="#">Pantaloni </a></li>
              <li><a href="#">Intimo </a></li>
              <li><a href="#">Scarpe </a></li>
            </ul>
          </div>

          <div class="menu-section-marchitop2">
            <h3>Marchi top</h3>
            <ul>
              <li><a href="#">Harry Potter </a></li>
              <li><a href="#">Star Wars </a></li>
              <li><a href="#">Disney </a></li>
              <li><a href="#">Supermario </a></li>
              <li><a href="#">Mickey Mouse </a></li>
              <li><a href="#">AC/DC </a></li>
              <li><a href="#">Metallica </a></li>
            </ul>
          </div>

          <div class="menu-section-preferiti2">
            <h3>Preferiti</h3>
            <ul>
              <li><a href="#">Regali per bambini </a></li>
              <li><a href="#">Merch Fan </a></li>
              <li><a href="#">Giochi </a></li>
              <li><a href="#">Tutto per la camera dei bambini </a></li>
              <li><a href="#">Esclusiva </a></li>
            </ul>
          </div>
        </div> -->

        <!-- Offerte % -->
        <!--
        <div class="dropdown-menu">
          <div class="menu-section-abbigliamento6">
            <h3>Abbigliamento %</h3>
            <ul>
              <li><a href="#">T-shirt & top </a></li>
              <li><a href="#">Vestiti </a></li>
              <li><a href="#">Gonne </a></li>
              <li><a href="#">Shorts </a></li>
              <li><a href="#">Costumi </a></li>
              <li><a href="#">Camicie </a></li>
              <li><a href="#">Maglioni </a></li>
              <li><a href="#">Giacche</a></li>
              <li><a href="#">Jeans </a></li>
              <li><a href="#">Scarpe </a></li>
              <li><a href="#">Intimo</a></li>
            </ul>
          </div>

          <div class="menu-section-accessori4">
            <h3>Accessori %</h3>
            <ul>
              <li><a href="#">Berrettini </a></li>
              <li><a href="#">Cappellini </a></li>
              <li><a href="#">Borse </a></li>
              <li><a href="#">Guanti </a></li>
              <li><a href="#">Cinture & Fibbie </a></li>
              <li><a href="#">Portafogli & Portatessere </a></li>
              <li><a href="#">Occhiali da sole </a></li>
            </ul>
          </div>

          <div class="menu-section-gioielli3">
            <h3>Gioielli %</h3>
            <ul>
              <li><a href="#">Gioielli per orecchie </a></li>
              <li><a href="#">Collane</a></li>
              <li><a href="#">Orologi </a></li>
            </ul>
          </div>

          <div class="menu-section-altro">
            <ul>
              <li><a href="#">Disney SALE </a></li>
              <li><a href="#">Outlet % </a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </header>
  </body>
</html>
