/* stile temporaneo body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* media query */
@media screen and (max-width: 769px) {
  .footer-columns5 {
    flex-direction: column;
  }
}

/* Stili per il Footer */

.main-footer {
  padding: 40px 10%;
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 14px;
}

/* Stili per la sezione superiore (Orario di Servizio Clienti) */
.footer-top {
  margin-bottom: 40px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid #eee; */
}

.footer-top h2 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.footer-top p {
  margin: 0 0 15px 0;
  font-size: 14px;
}

.footer-top a {
  text-decoration: underline;
}

.footer-column3 a,
.footer-top a {
  color: #333;
}

.chat-link {
  /* font-weight: bold; */
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-icon {
  font-size: 18px;
  margin-right: 8px;
}

/* Stili per le Colonne (Servizio Clienti, Offerte, Informazioni) */
.footer-columns5 {
  display: flex;
  justify-content: space-between;
}

/* Distribuisce lo spazio tra le colonne */
.footer-column3 {
  width: 30%;
  max-width: 300px;
}

.footer-column3 h3 {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.footer-column3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column3 li {
  margin-bottom: 10px;
  line-height: 1.2;
}

.footer-column3 li a:hover,
.footer-top a:hover {
  color: #000;
  text-decoration: none;
}
