<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer-servizioClienti.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- footer servizio clienti -->
    <footer class="main-footer">
      <div class="footer-top">
        <h2>Il nostro servizio clienti è qui per te</h2>
        <p>
          Il servizio clienti è disponibile oggi fino alle 16:30.
          <a href="#">Informazioni ulteriori</a>
        </p>
        <div class="chat-link">
          <span class="chat-icon"
            ><img src="Screenshot 2025-12-10 143835.png" alt="icona chat"
          /></span>
          Inizia la chat
        </div>
      </div>

      <div class="footer-columns5">
        <div class="footer-column3">
          <h3>Servizio Clienti</h3>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Condizioni di Reso</a></li>
            <li><a href="#">Rendi un articolo</a></li>
            <li><a href="#">Info taglie</a></li>
            <li><a href="#">Cancella la tua iscrizione al BSC</a></li>
          </ul>
        </div>

        <div class="footer-column3">
          <h3>Offerte per te</h3>
          <ul>
            <li><a href="#">Concorsi</a></li>
            <li><a href="#">Regala un buono EMP</a></li>
            <li><a href="#">Sconto EMP per studenti</a></li>
            <li><a href="#">EMP Backstage Club</a></li>
          </ul>
        </div>

        <div class="footer-column3">
          <h3>Informazioni su EMP</h3>
          <ul>
            <li><a href="#">Eventi EMP</a></li>
            <li><a href="#">Programmi partner</a></li>
            <li><a href="#">Sostenibilità</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- fine footer servizio clienti -->
  </body>
</html>
