<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="specialeHome.css" />
    <link rel="stylesheet" href="../common.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="contenitore">
      <img
        src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwd6545846/TOP100_750x300_SAM-7362_Black_Week_2025_Grafiken_v2.jpg?sw=768"
        class="img-top100"
      />
      <div class="scritteBottone">
        <h1 class="specialeBestseller">Speciale Bestseller</h1>
        <h3 class="giacche">
          Pelle, tessuto e carattere: le 100 giacche più cool a prezzi
          imperdibili!
        </h3>
        <button class="compraOra">Compra ora!</button>
      </div>
    </div>
  </body>
</html>
