<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="newsletter.css" />
  </head>
  <body>
    <div class="newsletter-container">
      <div class="newsletter">
        <div class="titolo">
          <h2>Newsletter</h2>
          <p class="sottotitolo">
            Iscriviti subito e ricevi un buono sconto del 15%
            <a class="link-altro" href="#">Altro</a>
          </p>
        </div>
        <input type="email" class="email" placeholder="La tua e-mail" />
        <div class="privacy-text">
          Con la presente acconsento a ricevere le newsletter EMP e do il
          consenso ad utilizzare i miei dati per ricevere informative periodiche
          riguardanti i prodotti trattati. Sono al corrente che i miei dati
          personali verranno gestiti in conformità con la
          <a class="link-privacy" href="#"> Politica sulla privacy</a>. Potrò
          revocare tale consenso in qualunque momento, tramite il link di
          disiscrizione presente in ogni newsletter.
          <a class="link-annullare" href="#">Clicca qui</a> per annullare
          liscrizione alla newsletter.
        </div>
        <button class="iscriviti" type="submit">Iscriviti</button>
        <div class="info">
          *Attivo per 4 settimane. Utilizzabile solo online. Non utilizzabile in
          combinazione con altri codici promozionali. Lo sconto verrà applicato
          dopo aver inserito il codice nel campo dedicato del carrello. Libri,
          media (CD, DVD, vinili, ecc.), biglietti, articoli Rammstein, (Till)
          Lindemann, Die Ärzte, Die Toten Hosen, Feine Sahne Fischfilet,
          Broilers, Böhse Onkelz, buoni regalo e articoli che prevedono una
          donazione nel prezzo sono esclusi dalla promo.
        </div>
      </div>
      <div class="sconto-rosso"><span> 15 %</span> di sconto</div>
    </div>
  </body>
</html>
