@import url("../../components/common.css");
@import url("../../components/homepage-card/index.css");
@import url("../../components/button/index.css");
@import url("home.css");
@import url("../../components/ButtonTop/ButtonTop.css");
@import url("../../components/cardPromo/cardPromo.css");
@import url("../../components/catalogo-home-5-elementi/Catalogo_Home_5_Elementi.css");
@import url("../../components/categorie2pagina/categorie2pagina.css");
@import url("../../components/footer/footer.css");
@import url("../../components/footer-info-legali/Footer_Info_Legali.css");
@import url("../../components/footer-sevizio-clienti/footer-servizioClienti.css");
@import url("../../components/footer-social/footerSocial.css");
@import url("../../components/footerAltriShop/footerAltriShop.css");
@import url("../../components/footerLungo/footerLungo.css");
@import url("../../components/footerNewsletter/newsletter.css");
@import url("../../components/Griglia2/griglia2.css");
@import url("../../components/home-6-discount/home-6-discount.css");
@import url("../../components/home-discount-1/home-discount-1.css");
@import url("../../components/homepage-card/index.css");
@import url("../../components/navbar/navbar.css");
@import url("../../components/OfferteHome/offerteHome.css");
@import url("../../components/paginaAttuale/paginaAttuale.css");
@import url("../../components/promo2p/promo.css");
@import url("../../components/seconda-pagina-filtro/Seconda_Pagina _Filtro.css");
@import url("../../components/seconda-pagina-recenti/Seconda Pagina - Recenti.css");
@import url("../../components/SecondaPaginaArticolo/Articolo_2.css");
@import url("../../components/skeleton/index.css");
@import url("../../components/specialeHome/specialeHome.css");
@import url("../../components/taskCardCuore/cuore.css");
