<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="home-6-discount.css" />
  </head>
  <body>
    <!-- 6x container discount -->
    <h4 class="title-product-discount">Esplora i prodotti scontati solo su EMP</h4>
    <div class="container-discount-6x">
      <button class="btn-arrow-sx" type="button" title="arrow-sx">❮</button>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwbce2676e/images/3/3/2/6/332644a-emp.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw2fa02748/images/4/6/6/9/466955a.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw573b5223/images/3/2/7/7/327778a.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dweb379845/images/5/0/8/3/508388a.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw63f5203d/images/3/7/9/8/379800a.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <div class="card-discount-element">
        <img
          src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw9caddd89/images/3/7/0/4/370422za.jpg?sw=200&sh=200&sm=fit&sfrm=png"
          alt="cappotto scontato 26% "
        />
        <div class="sconto-applicato">-33%</div>
        <div class="prize-text">
          RRP Da <span class="old-prize">109.99€</span> a <span class="new-prize">80.99€</span>
        </div>
      </div>
      <button class="btn-arrow-dx" type="button" title="arrow-dx">❯</button>
    </div>
  </body>
</html>
