<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="home-discount-1.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- home discount container -->
    <div class="home-discount-container">
      <img class="immagine-metal" src="metal-sconto.webp" alt="metal discount xmas" />
      <div class="discount-box">
        -17%*
        <span class="border-plus"></span>
      </div>
      <div class="container-laterale">
        <h2 class="testo-sconto">Per i tuoi regali sotto l'albero lo sconto è del 17%!</h2>
        <button class="button-not-lose" title="messaggio incoraggiante">Da non perdere!</button>
        <div class="promo-e-info">
          <button class="button-promo" title="codice promo">
            <span class="icona-sconto"></span>
            Codice promo: XMAS17
          </button>
          <img class="image-info" src="icona-info.png" alt="icona-informazioni" />
        </div>
      </div>
    </div>

    <!-- home discount container -->
    <div class="home-discount-container">
      <img class="immagine-metal" src="metal-sconto-2.webp" alt="metal discount xmas" />
      <div class="discount-box">
        -70%*
        <span class="border-plus"></span>
      </div>
      <div class="container-laterale">
        <h2 class="testo-grande">Divertimento e stile su EMP!</h2>
        <p class="testo-sconto2">
          Migliaia di nuovi meravigliosi design: giacche, felpe, magliette, stivali e molto altro.
          scopri tutto!
        </p>

        <button class="button-not-lose" title="messaggio incoraggiante">Da non perdere!</button>
        <div class="promo-e-info flex">
          <img class="image-info" src="icona-info.png" alt="icona-informazioni" />
        </div>
      </div>
    </div>
  </body>
</html>
