<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Footer EMP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
  </head>

  <body>
    <main style="min-height: 70vh"></main>

    <footer class="footerPrincipale">
      <div class="footerStruttura">
        <div class="footerColonna">
          <section class="footerBlocco">
            <h3 class="footerTitolo">Metodi di Pagamento</h3>

            <div class="rigaPagamenti">
              <img
                src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dw1a7af321/images/logos/paypal.svg"
                class="iconaPagamento"
              />

              <img
                src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dwf1450256/images/logos/klarna-new.svg"
                class="iconaPagamento"
              />

              <img
                src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dw3cf1add4/images/logos/wirecard_credit3.svg"
                class="iconaPagamento"
              />

              <div class="pagamentoBox">
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dw21038439/images/logos/paymentAdvance.svg"
                  class="iconaPagamento"
                />
                <span>Bonifico bancario</span>
              </div>

              <div class="pagamentoBox">
                <img
                  src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dwd18c88aa/images/logos/cod.svg"
                  class="iconaPagamento"
                />
                <span>Contrassegno</span>
              </div>
            </div>
          </section>

          <section class="footerBlocco footerApp">
            <h3 class="footerTitolo">App EMP</h3>
            <p class="footerTesto">Scarica la nuova app di EMP!</p>

            <div class="wrapperStore">
              <img
                src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw6d058a6b/footer/playstore_logo.png?sw=120"
                class="badgeStore"
              />
              <img
                src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw25d10dee/footer/appstore_logo.png?sw=120"
                class="badgeStore"
              />
            </div>
          </section>
        </div>

        <div class="footerColonna">
          <section class="footerBlocco">
            <h3 class="footerTitolo">Spedizione</h3>
            <img
              src="https://www.emp-online.it/on/demandware.static/-/Sites/default/dw40859940/images/logos/DHL.svg"
              class="logoSpedizione"
            />
          </section>

          <section class="footerBlocco">
            <h3 class="footerTitolo">A Warner Music Group Company</h3>
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw2b501de7/footer/WMG_Logo_Black.png?sw=120"
              class="logoPartner"
            />
          </section>
        </div>
      </div>
    </footer>
  </body>
</html>
