<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promo seconda pagina</title>
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="promo.css" />
  </head>
  <body>
    <div class="promo-container">
      <div class="logo">
        <img
          class="icon"
          src="/components/promo2p/img/backstageclub_logo_white.svg"
        />
      </div>
      <div class="testo-promo">
        <p>
          Una promo speciale: trattati bene e prova per 30 giorni il BACKSTAGE
          CLUB!
        </p>
      </div>
      <div class="bottone">
        <button class="btn" type="button">Tutto rigorosamente GRATIS!</button>
      </div>
    </div>
  </body>
</html>
