<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="cuore.css" />
    <title>Cuore</title>
  </head>
  <body>
    <div class="heart-card-container">
      <div class="heart-card-title">
        <h2 class="heart-title">Cosa ti fa battere il cuore?</h2>
      </div>
      <div class="heart-card-grid">
        <!-- Card maglioni natalizi -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw8af3d56d/SAM-7264_MT1000_XMAS_2025_LP_Ugly_Sweater.jpg?sw=500"
              alt="Maglioni Natalizi"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Maglioni natalizi</a>
          </div>
        </div>

        <!-- Card Tshirt -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw5b4b4d52/SAM-7264_MT1000_XMAS_2025_LP_XmasBandShirts.jpg?sw=500"
              alt="Tshirt"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">T-Shirt</a>
          </div>
        </div>

        <!-- Card Idee regalo -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw32be4e04/SAM-7264_MT1000_XMAS_2025_LP_Band.jpg?sw=500"
              alt="Idee regalo"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Idee Regalo</a>
          </div>
        </div>

        <!-- Card Palline di Natale -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw370ee277/SAM-7264_MT1000_XMAS_2025_ChristmasBalls_V3.jpg?sw=500"
              alt="Palline di Natale"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Palline di Natale</a>
          </div>
        </div>

        <!-- Card Festivitià -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw59db4953/SAM-7097_MT1000_Winter_of_Love_2025_Festive_V2.jpg?sw=500"
              alt="Festivitià"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Festivitià</a>
          </div>
        </div>

        <!-- Card Gioielli -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw04d9bf98/SAM-7264_MT1000_XMAS_2025_LP_Jewellery.jpg?sw=500"
              alt="Gioielli"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Gioielli</a>
          </div>
        </div>

        <!-- Card decorazioni di Natale -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dw285d3e0d/SAM-7264_MT1000_XMAS_2025_Deko_V3.jpg?sw=500"
              alt="Decorazioni di Natale"
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Decorazioni di Natale</a>
          </div>
        </div>

        <!-- Card Calendari dell'avvento -->
        <div class="heart-card">
          <div class="heart-card-image">
            <img
              src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-storefront-emp/default/dwacaa5065/SAM-7264_MT1000_XMAS_2025_Adventskalender_V3.jpg?sw=500"
              alt="Calendari dell'avvento "
            />
          </div>
          <div class="heart-content">
            <a href="#" class="heart-button">Calendari dell'avvento</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
