html {
  scroll-behavior: smooth;
}

.button-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  text-decoration: none;

  background: #111;
  color: #fff;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
