* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section-ordina label {
  width: 234.4px;
  height: 37px;
}

.image-size {
  width: 69px;
  height: 37px;
}

.all-components-second-page-filter {
  display: flex;
}

.filter-taglia-colore-marca-prezzo {
  display: flex;
  margin-left: auto;
}

.section-ordina {
  padding-right: 20px;
}

.section-right-filter {
  display: flex;
}
.first-filter-size,
.second-section-color,
.third-section-marca,
.fourth-section-price {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.switch {
  position: relative;
  width: 72px;
  height: 37px;
  padding-left: 20px;
}

.switch-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 18px;
  width: 72px;
  height: 37px;
}

.sorting-select select {
  width: 234.4px;
  height: 37px;
  font-size: 16px;
}

.section-ordina label {
  width: 234.4px;
  height: 37px;
  padding-right: 20px;
}

.section-filter {
  display: flex;
  border: 1px solid #666;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.icon-price {
  padding-right: 10px;
}

.fourth-section-price {
  padding-right: 10px;
}
.section-filter:hover {
  background-color: black;
  color: white;
}
.section-filter:hover svg path {
  fill: white;
}

.section-right-filter button {
  background: none;
  border: none;
  padding: 0;
}

@media (max-width: 770px) {
  /* Contenitore principale dei tre elementi */
  .all-components-second-page-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .section-ordina {
    margin-left: 0;
  }

  .switch {
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .section-filter {
    margin-left: 0;
  }

  .section-right-filter {
    display: none;
  }
  .sorting-select select {
    width: 111.5px;
    height: 37px;
    font-size: 13px;
  }
}
@media (min-width: 770px) and (max-width: 850px) {
  .filter-taglia-colore-marca-prezzo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .first-filter-size {
    grid-column: 1/2;
  }
  .second-section-color {
    grid-column: 2/3;
  }
  .third-section-marca {
    grid-column: 3/4;
  }
  .fourth-section-price {
    grid-column: 4/5;
  }
  .section-filter {
    grid-row: 2;
  }
  .section-ordina,
  .select,
  .section-ordina label {
    padding-right: 5px;
  }
  .switch {
    padding-left: 5px;
  }
  .filter-taglia-colore-marca-prezzo {
    padding-left: 20px;
  }
  .section-filter {
    height: 37px;
    width: 113.25px;
    padding-top: 10px;
  }
  .filter-writer {
    width: 80px;
  }
}
