<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="Seconda_Pagina _Filtro.css" />
    <title>Seconda Pagina Filtro</title>
  </head>
  <body>
    <div class="all-components-second-page-filter">
      <div class="section-ordina">
        <label class="select sorting-select">
          <select name="sorting">
            <option>Ordina</option>
            <option>I più venduti</option>
            <option>Prezzo dal più basso al più alto</option>
            <option>Prezzo dal più alto al più basso</option>
            <option>Data di pubblicazione</option>
            <option>Commenti utenti</option>
          </select>
        </label>
      </div>
      <div class="switch">
        <input type="checkbox" id="selection" class="switch-input" />
        <label for="selection" class="switch-label">
          <img
            src="https://www.emp-online.it/on/demandware.static/Sites-GLB-Site/-/it_IT/v1764767771377/images/search/productActive.svg"
            class="image-size"
          />
        </label>
      </div>
      <div class="filter-taglia-colore-marca-prezzo">
        <div class="section-right-filter">
          <div class="first-filter-size">
            <label for="input-size"></label>
            <span class="written-size">Taglia</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="#999"              
              viewBox="0 0 16 16"
              class="icon-size"
              width="25"
              height="35"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
          </div>
          <div class="second-section-color">
            <label for="input-color"></label>
            <span class="written-color">Colore</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="#999"
              viewBox="0 0 16 16"
              class="icon-color"
              width="25"
              height="35"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
          </div>
          <div class="third-section-marca">
            <label for="input-marca"> </label
            ><span class="written-marca">Marca</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="#999"          
              viewBox="0 0 16 16"
              class="icon-marca"
              width="25"
              height="35"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
          </div>
          <div class="fourth-section-price">
            <label for="input-price"> </label>
            <span class="written-price">Prezzo</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="#999"          
              viewBox="0 0 16 16"
              class="icon-marca"
              width="25"
              height="35"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="section-filter">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#000000" d="M9 5a1 1 0 1 0 0 2a1 1 0 0 0 0-2zM6.17 5a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-7.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 0 1 0-2h1.17zM15 11a1 1 0 1 0 0 2a1 1 0 0 0 0-2zm-2.83 0a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-1.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 1 1 0-2h7.17zM9 17a1 1 0 1 0 0 2a1 1 0 0 0 0-2zm-2.83 0a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-7.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 1 1 0-2h1.17z" class="image-filter"/></svg>
             
          </span>
          <span class="filter-writer">Tutti i filtri</span>
        </div>
      </div>
    </div>
  </body>
</html>
