<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="Seconda Pagina - Recenti.css">
    <title>Seconda Pagina - Recenti</title>
</head>
<body>
    <div class="all-recenti">
        <span class="title-recenti">Visualizzati di recente</span>
        <div class="catalog-griglia">
        <ul class="list-catalog">
          <li>
            <img class="owl-lazy " data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw89607c14/images/5/8/3/5/583538.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png" alt="Xmas, EMP Special Collection, T-Shirt" onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dwa7e52368/images/noimage.jpg'" src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw89607c14/images/5/8/3/5/583538.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png" style="opacity: 1;"> <span>19,99 €</span>
          </li>
          <li>
            <img class="owl-lazy " data-src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw0a2710a3/images/3/9/5/4/395474a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png" alt="Built For Comfort, Gothicana by EMP, Leggings" onerror="this.src='/on/demandware.static/Sites-GLB-Site/-/it/dwa7e52368/images/noimage.jpg'" src="https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw0a2710a3/images/3/9/5/4/395474a.jpg?sw=200&amp;sh=200&amp;sm=fit&amp;sfrm=png" style="opacity: 1;"> <span class="percent-sale">-63%</span
            ><span
              >Da <s>29,99 €</s> Da <span class="text-sale">10,99 €</span></span
            >
          </li>
    </div>
</body>
</html>