<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="footerLungo.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="long-footer">
      <div class="footer-container">
        <div class="footer-columns">
          <!-- Colonna 1 -->
          <div class="footer-column">
            <h3>EMP Merchandise - merch rock e intrattenimento dal 1986.</h3>
            <p>
              Unisciti alla nostra famiglia EMP e scopri con oltre 6 milioni di
              persone che la pensano allo stesso modo il merch delle tue band
              rock preferite e il meglio dell'intrattenimento, del gaming e del
              divertimento. Stai cercando merch e i vestiti giusti della tua
              band o serie preferita? Stai cercando un fantastico regalo per la
              famiglia e gli amici? Allora EMP è il posto giusto per te. Abbiamo
              t-shirt, abbigliamento, accessori, gioielli e altro ancora per gli
              appassionati che amano la musica, l'intrattenimento, il
              divertimento e la moda tanto quanto noi. Scopri tutte le nostre<a
                href="#"
              >
                band dalla A-Z</a
              >,<a href="#"> fan merch A-Z </a> e nostri
              <a href="#"> marchi di abbigliamento</a>
              dalla A-Z.
            </p>
            <p>
              Ti piace il nero? Allora dai un'occhiata al nostro vasto
              assortimento di <a href="#">abbigliamento nero</a>.
            </p>
            <b class="mini-title"
              >Merch Fan: Star Wars, Harry Potter, Stranger Things & tanto
              altro</b
            >
            <p>
              Decolla con il tuo X-Wing Fighter e sfoglia la
              <b>nostra selezione dedicata a film e serie TV.</b> Gli
              appassionati cinefili grandi e piccoli possono fare scorta di
              abbigliamento, accessori, gioielli e molto altro per essere
              perfettamente preparati per la prossima maratona di film o serie.
              <a href="#"> Baby Yoda</a>, <a href="#"> Darth Vader</a> and Co.
              sono disponibili come figure collezionabili in edizione limitata
              nel <a href="#">Funko Pop Star Wars Shop</a>. Che la Forza sia con
              voi!
            </p>
            <p>
              Stai ancora aspettando la tua lettera da <b>Hogwarts?</b> Puoi
              addolcire i tempi di attesa nella sezione dedicata allo
              <a href="#">shop Harry Potter</a>. Quale casa è la tua preferita:
              <a href="#">Grifondoro</a> , <a href="#">Serpeverde</a> ,
              <a href="#">Corvonero</a> o <a href="#">Tassorosso</a> ?
            </p>
            <p>
              Come studente di Hogwarts, hai anche bisogno di una
              <a href="#">maglietta di Harry Potter</a>. Per una passeggiata
              nella foresta proibita, troverai
              <a href="#">borse di Harry Potter</a> di alta qualità e
              <a href="#">accessori Harry Potter</a> . Attenzione: le creature
              oscure hanno gli occhi puntati sulle nostre grandi
              <a href="#">collane di Harry Potter</a> . Pensi che la foresta
              proibita sia troppo pericolosa? Possiamo capirlo. Basta prendere
              un paio di <a href="#">pigiami di Harry Potter</a> e rannicchiarsi
              a letto. Collezioni statuette dell'universo Potter? Clicca qui per
              le nostre statuette
              <a href="#">Funko Pop di Harry Potter</a> rigorosamente limitate,
              esclusive e di alta qualità.
            </p>

            <p>
              Combatti il Demogorgone con le
              <a href="#">magliette Stranger Things</a> , unisciti ai South Side
              Serpents nel nostro <a href="#">Riverdale Shop</a> , combatti per
              il Trono di Spade indossando le maglie Game of Thrones, vivi
              avventure intergalattiche con Rick e Morty o abbandonati ai
              ricordi d'infanzia nel <a href="#">Disney Store</a> di EMP. Dai
              Cattivi Disney al Re Leone qui troverai una vasta gamma di
              <a href="#">Funko Pop Disney</a> . Disney non fa per te e
              preferisci lavorare sulle auto? Nessun problema, dai un'occhiata
              al nostro <a href="#">Gas Monkey Garage Shop</a> .
            </p>

            <p>
              Sei un fan degli anime? Allora dai un'occhiata al nostro
              <a href="#">Negozio di anime</a> . Allena le tue abilità
              kamehameha insieme a Son Goku e alle nostre
              <a href="#">figure Dragon Ball Funko Pop</a> . Naturalmente, nel
              nostro store troverai anche le
              <a href="#">magliette Dragon Ball</a> da abbinare.
            </p>
            <b class="mini-title">Scopri il Funko Pop! che c’è in te</b>
            <p>
              Che tu sia un appassionato di musica, un fan o un giocatore: nel
              <a href="#">Funko Pop Shop</a> puoi ordinare i tuoi personaggi
              preferiti sotto forma di statuette Funko. Nel nostro negozio
              troverai statuette Funko rigorosamente limitate ed esclusive che
              non troverai altrove. E riceviamo nuovi arrivi ogni settimana,
              quindi controlla spesso se non vuoi perdere la prossima uscita
              Funko. Che ne dici di alcuni <a href="#">anime Funko Pops</a> ,
              per esempio? Non farteli scappare!
            </p>
          </div>

          <!-- Colonna 2 -->
          <div class="footer-column">
            <b class="mini-title">Supereroi della DC e dell'Universo Marvel</b>
            <p>
              Vorresti del fan merch di Deadpool una maglia di Spider-Man o
              preferisci Batman e Joker? Ti faremo vivere le avventure dei tuoi
              supereroi e cattivi preferiti. Sia che tu stia cercando
              abbigliamento dall'<b>Universo DC</b> o che tu voglia vestirti con
              accessori dei tuoi eroi <b>Marvel</b>, qui troverai tutto dei
              <b>sereroi</b> giusti. Certo, solo finché il Joker non avrà
              svuotato le nostre scorte. Quindi è meglio sbrigarsi, perché Thor
              sta già facendo oscillare il suo martello.
            </p>
            <p>
              Se i supereroi Marvel sono i tuoi preferiti, sarai sicuramente
              entusiasta dei<a href="#">Marvel Funko Pop </a> . Nel nostro
              Marvel Shop , troverai non solo statuette, ma anche
              <a href="#">magliette Marvel</a> e <a href="#">felpe Marvel</a> .
              Amiamo i supereroi!
            </p>

            <b class="mini-title">
              T-shirt da gamer e altro ancora: dai classici alle ultime novità
            </b>
            <p>
              I mondi online ti appassionano e le passioni sono tutto per te?
              Allora sei nel posto giusto con la nostra selezione di
              <a href="#">articoli per gamer</a> . Da Doom e Fortnite al merch
              di Zelda e Pokémon: ti accompagneremo nelle tue avventure di
              gioco. Pronto per una Battle Royale? Visita il nostro
              <a href="#">Negozio Fortnite</a> e raccogli un sacco di oggetti
              esclusivi. Puoi trovare le tue skin preferite da noi sotto forma
              di statuette <a href="#">Fortnite Funko Pop</a> e non
              dimentichiamo la tua vita quotidiana: che ne dici di esclusive
              <a href="#">T-shirt Fortnite</a> ? C'è abbastanza per tutti. Lo
              stesso vale per il nostro <a href="#">shop League of Legends</a> .
            </p>
            <p>
              Vivi emozionanti avventure in Assassin's Creed, viaggia insieme a
              Mario, Luigi, Bowser e Peach nello shop di Super Mario o gettati
              nelle battaglie di Call of Duty Warzon. Scopri le esclusive
              <a href="#">felpe Assassin's Creed</a> o infilati in una colorata
              <a href="#">tshirt Super Mario</a> . Ami le console? Troverai
              merce esclusiva nel <a href="#">Playstation Shop</a> e nel
              <a href="#">Nintendo Shop</a> . Se il tuo cuore batte per i
              Pokémon, dovresti assolutamente visitare il
              <a href="#">Pokemon Store</a> EMP.
            </p>
            <p>
              Ti piaceva giocare a wrestling o football americano su Nintendo e
              simili? Ora puoi trovare articoli ufficiali di alta qualità dagli
              Stati Uniti nel nostro <a href="#">WWE Shop</a> ,
              <a href="#">NFL Shop</a> e il nuovo <a href="#">NBA shop</a> . Che
              ne dici di una maglia NFL , per esempio?
            </p>
            <b class="mini-title">Band merch su EMP</b>
            <p>
              You wanted the best, you got the best - ti piace la musica
              autentica, fatta da veri musicisti? Allora metti il tuo disco
              preferito e concediti una pausa dalla tua stressante vita
              quotidiana. Nel nostro <a href="#">negozio di merch band</a> ,
              troverai merch e abbigliamento rock delle tue band preferite. Le
              <a href="#">T-shirt band</a> fanno parte dell’abbigliamento di
              base di ogni appassionato di musica. Quindi non meravigliarti,
              troverai migliaia di t-shirt di tutte le tue band preferite. Molte
              sono disponibili in esclusiva solo su EMP. Sei cresciuto con i
              Metallica e hai bisogno del merchandising giusto per scatenarti
              sulle note del tuo disco preferito? Nessun problema, le nostre
              esclusive <a href="#">Tshirt Metallica</a> ti stanno già
              aspettando. Per i giorni più freddi, potrai indossare le
              <a href="#">felpe Metallica</a> . Anche le
              <a href="#">magliette AC/DC</a> che trovi da noi sono già
              leggenda. Indossale e suonerai la chitarra come Angus Young! Ok,
              forse non è vero, ma starai benissimo con queste T-shirt addosso.
              Ti staranno almeno altrettanto bene le nostre leggendarie
              <a href="#">magliette Nirvana</a> e
              <a href="#">t-shirt Black Sabbath</a> .
            </p>
            <p>
              Le T-shirt band fanno parte della musica rock tanto quanto le
              chitarre elettriche. Quindi non c'è da meravigliarsi del fatto che
              su EMP troverai anche esclusive
              <a href="#">tshirt Iron Maiden</a> e <a href="#">Queen t-shirt</a>
              . "We don’t need no education!" - Ma altre magliette band, sì!
              Nessun negozio di merch rock può definirsi tale essere senza le
              <a href="#">magliette dei Rolling Stones</a> . Naturalmente trovi
              anche questi
            </p>
          </div>

          <!-- Colonna 3 -->
          <div class="footer-column">
            <p>
              classici su EMP! Vendiamo anche album e cofanetti su CD, vinili e
              cassette in edizione limitata. Ti forniamo i migliori album in
              pre-order e ti consegniamo l'album tanto atteso appena è in
              vendita. Dai un'occhiata al nostro
              <a href="#">Rammstein Shop</a> o
              <a href="#">Twenty One Pilots Merch shop</a> . Ti aspettano
              articoli esclusivi per veri fan.
            </p>
            <b class="mini-title"
              >Moda alternativa: dal rockabilly allo steampunk al gothic</b
            >
            <p>
              Il tuo guardaroba ha bisogno di un aggiornamento urgente? O sei
              solo dell'umore giusto per qualcosa di nuovo? Nessun problema,
              abbiamo abbigliamento alternativo per la primavera, l'estate,
              l'autunno e l'inverno. La nostra gamma comprende una vasta
              selezione di abbigliamento uomo e donna alternativo, stravagante e
              ricercato. Che ne dici di <a href="#">scarpe gothic</a> di alta
              qualità, per esempio?
            </p>
            <p>
              Che tu sia grunge, skater, alternativo o solo te stesso, il nostro
              abbigliamento di marcaha alcuni capi davvero interessanti per te.
              Classici come le <a href="#">scarpe Vans</a> , giacche biker,
              <a href="#">stivali Dr Martens</a> , abbigliamento rockabilly e
              <a href="#">abbigliamento gothic</a> . Molti vestiti, accessori e
              gioielli sono disponibili esclusivamente su EMP e da nessun'altra
              parte. <b>Marchi esclusivi</b> come
              <a href="#">Black Premium</a> , <a href="#">Rock Rebel</a> ,
              <a href="#">Gothicana</a>
              e <a href="#">RED</a> ti stanno aspettando. Altri classici ti
              aspettano nell'Adidas Shop, nello store Dickies e nel
              <a href="#">negozio VANS</a> . Scarpe e stivali fighissimi sono
              disponibili nello <a href="#">shop New Rock</a> e nella sezione
              <a href="#">scarpe Refresh</a> .
            </p>
            <p>
              Camicie in flanella, berretti e accessori rock, li troverai tutti
              nel nostro <b><a href="#">Rockabilly Shop</a></b
              >. I <a href="#">pantaloni Dickies</a> e le
              <a href="#">t-shirt VANS</a> sono perfette anche con stile
              rockabilly, provali. Capi basic per tutti i gusti sono disponibili
              nella nostra sezione streetwear. Che tu stia cercando una giacca
              da mezza stagione, magliette, accessori o gioielli, troverai tutto
              qui. Abbiamo anche favolosi orecchini e
              <a href="#">piercing Wildcat</a> .
            </p>
            <p>
              Simpatia è il tuo secondo nome? Allora dai un'occhiata al negozio
              online <b>EMP Fun & Lifestyle</b>.
              <a href="#">T-shirt divertenti</a> per uomo e donna, articoli
              divertenti, regali unicorno e oggetti decorativi per la tua casa
              ti aspettano.
            </p>
            <p>
              EMP dà il via all'Heavy X-Mas e noi abbiamo proprio i
              <a href="#">regali di Natale</a> giusti per farti fare bella
              figura. Che si tratti di gamer, appassionati di film e serie TV o
              fan del rock e del metal, il nostro assortimento soddisfa ogni
              desiderio.
            </p>
            <p>
              Non accontentarti di mezze misure: dalle felpe con cappuccio in
              edizione limitata alle esclusive figurine da collezione fino ai
              <a href="#">maglioni natalizi</a> , qui troverai regali diversi
              dal solito e, per una volta, perfetti per chi li riceve.
            </p>
            <b class="mini-title"
              >Backstage Club: entra nel backstage e assicurati vantaggi
              esclusivi, omaggi e concorsi.</b
            >
            <p>
              Vestiti con il tuo outfit da palcoscenico e apri le porte del
              Backstage Club EMP . Grazie al
              <b><a href="#">Backstage Club</a></b> , avrai la spedizione
              gratuita su ogni ordine e senza minimo d'ordine. Potrai scegliere
              anche fantastici omaggi e partecipare a concorsi esclusivi. Non
              ricevi solo sconti esclusivi da noi, ma anche dai nostri partner
              Backstage Club. E se dovessi avere bisogno di restituire qualcosa,
              gli iscritti possono godere del
              <b>diritto di reso esteso a 100 giorni</b>. La tua tessera
              Backstage Club ti dà anche accesso alle nostre aree backstage in
              vari festival ed eventi (Wacken, Summerbreeze e molti altri). Cosa
              stai aspettando? Entra nel Backstage e divertiti con noi!
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
